<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администрирования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<br>
<a href="/admin/persons" class="btn btn-primary">Управление пользователями</a>
<a href="/admin/orders" class="btn btn-primary">Управление заказами</a><br><br>
<form method="post" th:action="@{/logout}">
    <button type="submit" class="btn btn-primary">Выход из личного кабинета</button>
</form>
<hr>
<h1>Управление товарами</h1>

<a href="admin/product/add">Добавить товар</a>
<br><hr>
<div th:each="product:${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>

    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}"  class="btn btn-primary">Редактировать товар</a>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}"  class="btn btn-primary">Удалить товар</a>
    <br><hr>
</div>

</body>
</html>