<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои заказы</title>
</head>
<body>
<h1>Мои заказы</h1>
<hr>
<div th:each="order:${orders}">
  <h3 th:text="'Заказ №: ' + ${order.getNumber()}"></h3>
  <img th:src="'/img/' + ${order.getProduct().getImages()[0].getFileName()}" width="300px">
  <br>
  <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
  <p th:text="'Количество: ' + ${order.getCount()}"></p>
  <p th:text="'Цена: ' + ${order.getPrice()}"></p>
  <p th:text="'Дата : ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
  <p th:text="'Статус: ' + ${order.getStatus()}"></p>

  <hr>
</div>
</body>
</html>